CNNforpaper/ResNet/cifar-10-python/
CNNforpaper/ResNet/traindata.tfrecords
CNNforpaper/ResNet/testdata.tfrecords
.idea/workspace.xml
.idea/
.idea

CNNforpaper/ZF-net/cifar-10-python/
CNNforpaper/ZF-net/traindata.tfrecords
CNNforpaper/ZF-net/testdata.tfrecords